@import 'styles/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(69, 168, 248);
  font-family: 'Product Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: inherit;
  border: none;
}



.container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #000;
}